<html>
  <head>
    <title>Heroku MyLib Backend</title>
    <link rel="stylesheet" type = "text/css" href="styles.css">
    <style>
    body, html {
      font-family:"Arial" !important;
    }
    @media screen and (max-width:701px) {
      img {
        display: none; }
    }
    </style>
  </head>
  <body>
      <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101050192); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101050192ns.gif" /></p></noscript>
    <div style="margin-top:30px;"></div>
    <div class="container">
      <div class="row" style="text-align: center">
        <h1>Welcome to CuAppDev MyLib Server!</h1>
        <h3>Principles of Backend Engineering</h3>
        <h3>Hack Challenge 2018: MyLib API</h3>
      </div>
    </div>
  </body>
</html>